<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>{{appTitle}}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/lib/arco/css/arco.min.css">
    <link rel="stylesheet" type="text/css" href="/static/asserts/css/app.css">
    {% if viewCss %}
    {% for css in viewCss %}
    <link rel="stylesheet" type="text/css" href="/static/asserts/css/{{css}}">
    {% endfor %}
    {% endif %}
</head>

<body>
    <div id="root"></div>
</body>
<script src="/static/lib/reactjs/react.production.min.js"></script>
<script src="/static/lib/reactjs/react-dom.production.min.js"></script>
<script src="/static/lib/reactjs/babel.min.js"></script>
<script src="/static/lib/arco/arco.min.js"></script>
<script src="/static/lib/arco/arco-icon.min.js"></script>
<script src="/static/lib/axios.min.js"></script>
<script src="/static/lib/http.js"></script>
{% if viewScript %}
{% for script in viewScript %}
<script type="text/babel" src="/static/app/{{script}}"></script>
{% endfor %}
{% endif %}

<script type="text/babel">
    {% if PageVars %}
    const PageVars = {{PageVars}};
    {% endif %}
    ReactDOM.render(
        < {{viewName}}/>,
        document.querySelector("#root")
    );
</script>

</html>
