html,body{
    height: 100vh;
}

.bmbp-page-body{
    width: calc(100% - 20px);
    height: 100vh;
    margin:  0px;
    padding: 5px;
    background: #FFFFFF;
}

.bmbp-page-serach-toolbar{
    height: 36px;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0px;
}
.bmbp-page-serach-toolbar-left{
    height: 36px;
    min-width: 240px;
    flex: 1;
    padding: 0;
    display: inline-flex;
    justify-content: start;
    align-items: center;
}
.bmbp-page-serach-toolbar-left > button {
    margin-right: 8px;
}
.bmbp-page-serach-toolbar-right{
    flex: 1;
    height: 36px;
    min-width: 240px;
    padding: 0;
    display: inline-flex;
    justify-content: end;
    align-items: center;
}
.bmbp-page-serach-toolbar-right > button {
    margin-left: 8px;
}

.bmbp-grid-row-action > button{
    padding: 0 2px;
}


.bmbp-action-more {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.bmbp-action-more > button{
   margin: 2px;
   width: 100%;
}


.bmbp-page-tree-grid-body{
    width: calc(100% - 12px);
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding:5px;
}


.bmbp-page-tree-grid-tree{
    width:220px;
    min-width:220px;
    height: 100%;
    border-right: 1px solid rgba(0,0,0,0.08);
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.08);
    padding: 0;
}

.bmbp-page-tree-grid-tree-title{
    padding: 2px;
    height:32px;
    position: relative;
    background: #f2f3f5;
}



.bmbp-page-tree-grid-grid{
    flex: 1;
    min-width:800px;
    height: 100%;
    background: #fff;
    padding: 5px;
}
