[submodule "crates/bmbp_sql"]
	path = crates/bmbp_sql
	url = git@github.com:bmbper/bmbp_sql.git
[submodule "crates/bmbp_orm"]
	path = crates/bmbp_orm
	url = git@github.com:bmbper/bmbp_orm.git
[submodule "crates/bmbp_sql_marco"]
	path = crates/bmbp_sql_marco
	url = git@github.com:bmbper/bmbp_sql_marco.git
[submodule "crates/bmbp_db_meta"]
	path = crates/bmbp_db_meta
	url = git@github.com:bmbper/bmbp_db_meta.git
	branch = dev
[submodule "crates/bmbp_data"]
	path = crates/bmbp_data
	url = git@github.com:bmbper/bmbp_data.git
