[submodule "crates/bmbp_sql"]
	path = crates/bmbp_sql
	url = git@github.com:bmbper/bmbp_sql.git
[submodule "crates/bmbp_orm"]
	path = crates/bmbp_orm
	url = git@github.com:bmbper/bmbp_orm.git
[submodule "crates/bmbp_sql_marco"]
	path = crates/bmbp_sql_marco
	url = git@github.com:bmbper/bmbp_sql_marco.git
[submodule "crates/bmbp_db_meta"]
	path = crates/bmbp_db_meta
	url = git@github.com:bmbper/bmbp_db_meta.git
	branch = dev
[submodule "crates/bmbp_framework"]
	path = crates/bmbp_framework
	url = git@github.com:bmbper/bmbp_frameword.git
[submodule "crates/bmbp_rbac"]
	path = crates/bmbp_rbac
	url = git@github.com:bmbper/bmbp_rbac.git
[submodule "crates/bmbp_config"]
	path = crates/bmbp_config
	url = git@github.com:bmbper/bmbp_config.git
