@use "./vars";

.bmbp_page_tree_grid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.bmbp_page_grid {
  background-color: #1e3768;
  height: 100%;
  flex: auto;

  .grid_search_form {

  }

  .grid_tool_bar {

  }

  .grid_table {

  }

  .grid_page {

  }
}

.bmbp_page_info {
}

.bmbp_page_tree {
  background: #165dff;
  height: 100%;
  width: 100%;

  .tree_header {
    width: 100%;
    height: vars.$bmbp_tree_header_height;
    display: flex;
    justify-content: start;
    align-items: center;

    .tree_title {
      height: 100%;
      flex: 1;
    }

    .tree_action {
      width: 80px;
    }
  }

  .tree_body {

  }

}
