@use "./vars";

.bmbp_framework {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  box-sizing: border-box;
}

.bmbp_header {
  width: 100%;
  height: vars.$bmbp_header_height;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  background: vars.$bmbp_header_background;
}

.bmbp_center {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.bmbp_aside {
  width: vars.$bmbp_aside_width;
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.bmbp_divider_v {
  width: 1px;
  height: 100%;
  background-color: vars.$bmbp_border_color;
}

.bmbp_bottom {
  width: 100%;
  height: vars.$bmbp_bottom_height;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.bmbp_nav_menu {
  width: 100%;
  height: 100%;
  padding: 0;
}

.arco-menu-vertical .arco-menu-inner {
  padding: 0;
}

.bmbp_page_breadcrumb {
  width: 100%;
  height: vars.$bmbp_breadcrumb_height;
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: vars.$bmbp_breadcrumb_background;
}

.bmbp_page_iframe {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  border: 0;
}

.bmbp_copy_right {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: vars.$bmbp_copyright_background;
  color: vars.$bmbp_copyright_color;
}