$bmbp_header_height: 64px;
$bmbp_header_background: #165dff;
$bmbp_header_color: #333333;
$bmbp_border: 1px solid #e6e;
$bmbp_border_color: #e5e6eb;

$bmbp_aside_width: 260px;
$bmbp_bottom_height: 24px;
$bmbp_breadcrumb_height: 32px;
$bmbp_breadcrumb_background: #fafafa;
$bmbp_copyright_background: #fafafa;
$bmbp_copyright_color: #C9CDD4;