html, body, #app {
  width: 100vw;
  height: 100vh;
}

.bmbp_full {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}

.bmbp_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  box-sizing: border-box;
  padding: 5px;
}

.bmbp_layout_v {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  box-sizing: border-box;
}

.bmbp_layout_h {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  box-sizing: border-box;
}

.bmbp_framework {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  box-sizing: border-box;
}

.bmbp_header {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: start;
  background: #165dff;
}

.bmbp_app_icon {
  height: 64px;
  width: 260px;
  padding: 0 4px;
  display: flex;
  align-items: center;
  align-content: center;
  gap: 12px;
}
.bmbp_app_icon img {
  width: 46px;
  height: 46px;
  color: white;
}
.bmbp_app_icon span {
  width: 100%;
  height: 64px;
  font-family: "Microsoft YaHei", serif;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  align-content: center;
}

.bmbp_app_nav {
  height: 64px;
  flex: 1;
  padding: 0 4px;
  display: flex;
  justify-content: start;
  align-content: center;
  align-items: center;
  color: white;
  gap: 16px;
}

.bmbp_app_setting {
  height: 64px;
  width: 200px;
  display: flex;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  color: white;
  box-sizing: border-box;
  gap: 24px;
  margin-right: 12px;
}
.bmbp_app_setting svg {
  width: 24px;
  height: 24px;
}

.bmbp_app_user {
  height: 64px;
  width: 64px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bmbp_center {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.bmbp_aside {
  width: 260px;
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.bmbp_divider_v {
  width: 1px;
  height: 100%;
  background-color: #e5e6eb;
}

.bmbp_bottom {
  width: 100%;
  height: 24px;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.bmbp_nav_menu {
  width: 100%;
  height: 100%;
  padding: 0;
}

.arco-menu-vertical .arco-menu-inner {
  padding: 0;
}

.bmbp_page_breadcrumb {
  width: 100%;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: #fafafa;
}

.bmbp_page_iframe {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  border: 0;
}

.bmbp_copy_right {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  color: #C9CDD4;
}

.bmbp_page_tree_grid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.bmbp_page_grid {
  background-color: #1e3768;
  height: 100%;
  flex: auto;
}
.bmbp_page_tree {
  background: #165dff;
  height: 100%;
  width: 100%;
}
.bmbp_page_tree .tree_header {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.bmbp_page_tree .tree_header .tree_title {
  height: 100%;
  flex: 1;
}
.bmbp_page_tree .tree_header .tree_action {
  width: 80px;
}

/*# sourceMappingURL=index.css.map */
